
/* ==========   Exercice 2  ========== */
*{
    box-sizing:border-box;
}

.ex2{
    z-index:200;
    width:150%; 
    height:100vh;
    /* background-color: var(--ex1-background-color); */
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 15%, rgba(255,255,255,1) 30%);
    /* background: linear-gradient(90deg, rgba (255,255,255,0) 0%, rgba (255,255,255,1) 30%); */
    position:fixed;
    top:0px;
    left:-200%;
    transition: left 3s;

}

#ex2Container{
    position:absolute;
    width:40%;
    height:50vh;
    top:20vh;
    left:12%;
    display:flex;
    justify-content:center; 
    align-items:center;
    flex-direction: column;
}

#close-ex02{
    cursor:pointer;
    position:absolute; 
    top: 2%; 
    left:60%;
}

.ex2-opened{
    left:0%;
}

#ex2-welcome-message{
    text-align: center;
    font-size: 5rem;
    padding: 4%;
}

#ex2-textArea{ 
    background:none;
    resize:none;
    height: 10vh;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    
}

#ex2-textArea:focus{ 
    outline: none;
    border: none;
    border-bottom: 2px solid black;

}

#ex2-submit{
    margin: 3%; 
    padding: 2%;
    border: solid 2px black;
    transition: all 1s; 
}

#ex2-submit:hover{
    margin: 3%; 
    padding: 2%;
    background-color:black;
    color:white;
    border: solid 2px black;
}

