:root{
    --rect01-color: rgba(255,51,51,0.9);
    --rect02-color: rgba(51,255,255,0.9);
    --rect03-color: rgba(178,255,102,0.9);
    --ex1-background-color: rgba(255,255,255,0.8);
}

*{
font-family:'Helvetica',sans-serif;
box-sizing:border-box;
padding: 0; 
margin: 0; 
}

html{
    overflow-x:hidden;
}

#name{
    z-index:50;
    font-size:200%;
    position:fixed; 
    transform:rotate(0deg);
    transform-origin: bottom left;
    cursor:pointer;
    top:2vh;
    left:2%;
    animation-name:tilt-shaking;
    /* transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) */
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#picture{
    opacity:0.8;
    z-index:50;
    position:fixed;
    transform:rotate(-90deg) scale(2) translate(50px);
    translate: 50px;
    transform-origin: top left;
    cursor:pointer;
    top:5vh;
    left: 2%;
    /* transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) */
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tilt-shaking{
    -webkit-animation-name: tilt-shaking;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-name: tilt-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}


@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
  }

#websiteName{
    z-index:49;
    font-size:300%;
    position:fixed; 
    transform:rotate(0deg);
    transform-origin: top right;
    top:90vh; 
    left:77%;
    white-space: nowrap;
    cursor:pointer;
    vertical-align: baseline;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Removing default button style */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.bioContainer{
    font-size: 75%;
    width: 20%;
    position:sticky;
    top: 5px; 
    left:5px; 
    /* font-weight:bold; */
}

.scrollReminder{
    position: fixed; 
    left: 45%; 
    top: 92vh; 
    width: 10%; 
    text-align:center;
    /* display:block; */
    color:rgba(0,0,0,0);
    transition: all 0.5s ease-out; 
    vertical-align: baseline;
}

/* Everything about works */
.worksContainer {
width: 100%; 
height: 300vh; 
display:flex;
flex-direction: column;
justify-content: space-around;
}

/* Different divs for different works topics */
.worksSection {
font-weight:bold;
text-align:center;
}

.worksButton{
    font-size:400%;

}

.collapsibleWorks{
height:0vh;
overflow:hidden;
transition:all 1s ease-in-out;
display:flex;
align-items: stretch;
justify-content: center;
flex-direction: column;
}

ul { 
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

li {
width:30%;
padding:0.25%;
list-style-type: none; 
cursor: pointer;
}

#rect01{
    z-index: -1; 
    width: 400%; 
    height: 30vh;
    position: fixed;
    left: -20%; 
    top: 35vh; 
    transform:rotate(0deg);
    background-color: var(--rect01-color); 
    transition: background-color 1s;
}

#rect02{
    z-index: -2; 
    width: 300%; 
    height: 10vh;
    position: absolute; 
    top:100vh; 
    left: -100vw;
    transform:rotate(0deg);
    background-color: var(--rect02-color); 
    transition: background-color 1s;
}

#rect03{
    z-index: -2; 
    width: 300%; 
    height: 15vh;
    position: absolute; 
    top: 120vh; 
    left: -50vw;
    transform:rotate(0deg);
    background-color: var(--rect03-color); 
    transition: background-color 1s;
}


/* .buttonHover{
    background-color:rgba(150,150,150,0.4)
} */
 

/* Everything about Exercice 1 down here */


#ex1{
    z-index:200;
    width:150%; 
    height:100vh;
    /* background-color: var(--ex1-background-color); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 15%, rgba(255,255,255,1) 30%);

    /* background: linear-gradient(90deg, rgba (255,255,255,0) 0%, rgba (255,255,255,1) 30%); */
    position:fixed;
    top:0px;
    left:100%;
    transition: left 3s;
    display:flex;
}

/* everything needs to be 50%+ width */

.circle{
    border-radius:50%;
    transform-origin: bottom left;
}

#goBack-ex1{
    position:relative; 
    top: 2%; 
    left: 35%;
}



#cir01{
    background-color:red; 
    width:10vw; 
    height:10vw;
    position:relative; 
    top:10%; 
    left:60%;
    transition: top 1s cubic-bezier(.47,1.64,.41,.8)
}

#cir02{
    z-index:200;
    background-color:purple; 
    width:5vw; 
    height:5vw;
    position:relative; 
    top:20%; 
    left:70%;
    transition: top 1s cubic-bezier(.47,1.64,.41,.8)
}

#cir03{
    background-color:greenyellow; 
    width:7vw; 
    height:7vw;
    position:relative; 
    top:15vh; 
    left:25%;
    transition: top 1s cubic-bezier(.47,1.64,.41,.8)
}

#cir04{
    background-color:dodgerblue; 
    width:13vw; 
    height:13vw;
    position:relative; 
    top:20%; 
    left:35%;
    transition: top 1s cubic-bezier(.47,1.64,.41,.8)
}
#cir05{
    background-color:salmon; 
    width:17vw; 
    height:17vw;
    position:relative; 
    top:35%; 
    left:50%;
    transition: top 1s cubic-bezier(.47,1.64,.41,.8)
}
