*{
font-family:'Helvetica',sans-serif;
box-sizing:border-box;
padding: 0; 
margin: 0; 
}

#name{
    z-index:50;
    font-size:200%;
    position:fixed; 
    transform:rotate(0deg);
    transform-origin: bottom left;
    cursor:pointer;
    top:2vh;
    left:2%;
    animation-name:tilt-shaking;
    /* transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) */
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#picture{
    z-index:50;
    position:fixed;
    transform:rotate(-90deg) scale(2) translate(50px);
    translate: 50px;
    transform-origin: top left;
    cursor:pointer;
    top:5vh;
    left: 2%;
    /* transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) */
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tilt-shaking{
    -webkit-animation-name: tilt-shaking;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-name: tilt-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}


@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
  }

#websiteName{
    z-index:49;
    font-size:300%;
    position:fixed; 
    transform:rotate(0deg);
    transform-origin: top right;
    top:90vh; 
    left:77%;
    white-space: nowrap;
    cursor:pointer;
    vertical-align: baseline;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Removing default button style */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.bioContainer{
    font-size: 75%;
    width: 20%;
    position:sticky;
    top: 5px; 
    left:5px; 
    /* font-weight:bold; */
}

.scrollReminder{
    position: fixed; 
    left: 45%; 
    top: 92vh; 
    width: 10%; 
    text-align:center;
    /* display:block; */
    color:rgba(0,0,0,0);
    transition: all 0.5s ease-out; 
    vertical-align: baseline;
}

/* Everything about works */
.worksContainer {
width: 100%; 
height: 300vh; 
display:flex;
flex-direction: column;
justify-content: space-around;
}

/* Different divs for different works topics */
.worksSection {
font-weight:bold;
text-align:center;
}

.worksButton{
    font-size:400%;

}

.collapsibleWorks{
height:0vh;
overflow:hidden;
transition:all 1s ease-in-out;
display:flex;
align-items: stretch;
justify-content: center;
flex-direction: column;
}

ul { 
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

li {
width:30%;
padding:0.25%;
list-style-type: none; 
}

#rect01{
    z-index: -1; 
    width: 200%; 
    height: 30vh;
    position: fixed; 
    left: -20%; 
    top: 35vh; 
    transform:rotate(0deg);
    background-color: rgba(255,51,51,0.9); 
    transition: background-color 1s;
}

#rect02{
    z-index: -2; 
    width: 300%; 
    height: 10vh;
    position: fixed; 
    top:100vh; 
    left: -100vw;
    transform:rotate(0deg);
    background-color: rgba(51,255,255,0.9); 
    transition: background-color 1s;
}

#rect03{
    z-index: -2; 
    width: 300%; 
    height: 15vh;
    position: absolute; 
    top: 120vh; 
    left: -50vw;
    transform:rotate(0deg);
    background-color: rgba(178,255,102,0.9); 
    transition: background-color 1s;
}


/* .buttonHover{
    background-color:rgba(150,150,150,0.4)
} */
